# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- Eclipse ---
.classpath
.project
.settings/
.springBeans
bin/

# --- VS Code ---
.vscode/

# --- Java Crash Logs ---
hs_err_pid*
replay_pid*

# --- Logs ---
*.log

# --- OS Junk ---
.DS_Store
Thumbs.db